@font-face {
  font-family: AcidGreen;
  src: url(./ASSETS/police/AcidGreen-Poster.ttf);
}
@font-face {
  font-family: AvenirNext;
  src: url(./ASSETS/police/Avenir\ Next.ttf);
}
* {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  height: 70px;
  background: orange;
}

#Home {
  position: fixed;
  top: 0;
  left: 50%;
  height: 13%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  border-bottom: 3px solid darkblue;
  border-radius: 0 0 70px 70px;
  transition: all 0.5s ease;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 100;
}

#Home img {
  height: 80%;
}

#Home:hover {
  box-shadow: 1px -2px 12px 1px darkblue;
}
main {
  display: grid;
}

#menuContainer {
  position: fixed;
  top: 0px;
  left: 50%;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  min-height: 300px;
  border-bottom: 5px solid orange;
  transform: translateX(-50%);
  border-radius: 0 0 100px 100px;
  background: #f3f2ee;
  transition: 0.5s;
  z-index: 98;
  visibility: hidden;
  opacity: 0.5;
}

#menu {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  font-family: AcidGreen;
  list-style: none;
  text-align: center;
  font-size: 2.5rem;
  gap: 10px;
  color: darkblue;
}

.Onglet:hover {
  text-shadow: 1px -2px 12px orange;
  cursor: pointer;
}

#imgbox {
  background: orange;
  transition: 0.5s;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

#imgbox img {
  width: 80%;
  max-height: 500px;
  border: 5px solid darkblue;
  box-shadow: 0 0 9px 7px white;
}

#imgbox::-webkit-scrollbar {
  background: orange;
}
#Usclub2 {
  width: 100%;
  background: darkblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#UsClubTitle {
  font-family: AcidGreen;
  grid-column: 1/-1;
  box-shadow: 0 0 0 white;
  display: flex;
  background: darkblue;
  justify-content: space-around;
}
#UsClubTitle h2 {
  padding: 0;
  color: skyblue;
  width: 40%;
  font-size: 5rem;
  font-weight: 10;
  -webkit-text-stroke: 1px white;
  text-align: center;
  border-bottom: 2px solid white;
}

.Where {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.Where h2 {
  width: 70%;
  font-family: AcidGreen;
  margin: 10px;
  color: #f3f2ee;
  font-size: 4rem;
  text-align: center;
  font-weight: 5;
}
.Where p {
  width: 70%;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f2ee;
  font-size: 1.2rem;
}

.imgUsclub {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 80%;
  width: 100%;
}
.imgUsclub img {
  height: 100%;
  max-width: 90%;
  margin: 20px;
  border-radius: 250px;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

#imgEquipe {
  grid-column: -2;
}

#equipeTxt {
  grid-row: 3;
}
@media (max-width: 600px) {
  #home {
  }
  #imgbox img {
    width: 90%;
    max-width: none;
    max-height: 300px;
  }
  #Usclub2 {
    display: block;
  }
}
