@font-face {
  font-family: AcidGreen;
  src: url(./ASSETS/police/AcidGreen-Poster.ttf);
}
@font-face {
  font-family: AvenirNext;
  src: url(./ASSETS/police/Avenir\ Next.ttf);
}
* {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  height: 70px;
  background: orange;
}

#Home {
  position: fixed;
  top: 0;
  left: 50%;
  height: 12%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  border-bottom: 3px solid darkblue;
  border-radius: 0 0 70px 70px;
  transition: all 0.5s ease;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 100;
}

#Home img {
  height: 80%;
}

#Home:hover {
  box-shadow: 1px -2px 12px 1px darkblue;
}
main {
  display: grid;
}

#menuContainer {
  position: fixed;
  top: 0px;
  left: 50%;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  min-height: 250px;
  border-bottom: 5px solid orange;
  transform: translateX(-50%);
  border-radius: 0 0 100px 100px;
  background: #f3f2ee;
  transition: 0.5s;
  z-index: 98;
  visibility: hidden;
  opacity: 0.5;
}

#menu {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: AcidGreen;
  list-style: none;
  text-align: center;
  font-size: 2.5rem;
  gap: 10px;
  color: darkblue;
}

.Onglet:hover {
  text-shadow: 1px -2px 12px orange;
  cursor: pointer;
}

#imgbox {
  background: orange;
  transition: 0.5s;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  justify-items: center;
}

#imgbox img {
  width: 80%;
  max-height: 500px;
  border: 5px solid darkblue;
  box-shadow: 0 0 9px 7px white;
}

#imgbox::-webkit-scrollbar {
  background: orange;
}
#Usclub2 {
  width: 100%;
  background: darkblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
#UsClubTitle {
  font-family: AcidGreen;
  grid-column: 1/-1;
  box-shadow: 0 0 0 white;
  display: flex;
  background: darkblue;
  justify-content: space-around;
}
#UsClubTitle h2 {
  padding: 0;
  color: skyblue;
  width: 50%;
  font-size: 5rem;
  font-weight: 10;
  -webkit-text-stroke: 1px white;
  text-align: center;
  border-bottom: 2px solid white;
}

.Where {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.Where h2 {
  width: 80%;
  font-family: AcidGreen;
  color: #f3f2ee;
  font-size: 4rem;
  text-align: center;
  font-weight: 5;
}
.Where p {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f2ee;
  font-size: 1.2rem;
  text-align: justify;
}

.imgUsclub {
  grid-column: 1/3;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 50%;
  width: 100%;
}
.imgUsclub img {
  max-height: 550px;
  max-width: 90%;
  margin: 20px;
  border-radius: 250px;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

#imgEquipe {
  grid-column: 3/4;
}

#equipeTxt {
  grid-column: 1/3;
  grid-row: 3/4;
}
#imgShirt {
  grid-column: 1/2;
}
#imgShirt2 {
  grid-column: 2/3;
}
#HowseasideRun {
  grid-column: 1/2;
  grid-row: 5/6;
}
#imgTraining {
  grid-column: 2/4;
}
footer {
  transition: 0.3s;
  font-family: AvenirNext;
  color: darkblue;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  background: orange;
}
#contact {
  list-style: none;
  margin: 10px 10px 10px 30px;
  gap: 5px;
}
#contact h3 {
  text-align: center;
}
#contact a {
  font-size: 1rem;
  transition: 0.5s;
  color: darkblue;
}
#contact a:hover {
  color: white;
}
#logo2 {
  display: flex;
  align-items: start;
}
#Follow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 10px 30px 10px 10px;
}
#Follow h3 {
  font-size: 1rem;
  grid-column: 1/-1;
  text-align: center;
}
#Follow a {
  transition: 0.5s;
  margin: 0 3px 0 5px;
}
#Follow a:hover {
  transform: scale(1.4);
}
@media (max-width: 700px) {
  #home {
    height: 10%;
  }

  #imgbox img {
    width: 90%;
    max-width: none;
    max-height: 300px;
  }
  #Usclub2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .Where p {
    text-align: justify;
  }
  #contact a {
  font-size: 0.8rem;
}
