@font-face {
  font-family: AcidGreen;
  src: url(./ASSETS/police/AcidGreen-Poster.ttf);
}
@font-face {
  font-family: AvenirNext;
  src: url(./ASSETS/police/Avenir\ Next.ttf);
}
* {
  margin: 0;
  padding: 0;
}

Nav {
  display: flex;
  justify-content: space-around;
  height: 70px;
  background: orange;
  width: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 100;
}

#Home {
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  border-bottom: 3px solid darkblue;
  border-radius: 0 0 70px 70px;
  transition: all 0.5s ease;
  cursor: pointer;
}

#Home img {
  height: 90%;
}

#Home:hover {
  transform: scale(1.05);
  box-shadow: 1px -2px 12px 1px darkblue;
}
main {
  display: grid;
  padding-top: 70px;
}

#menuContainer {
  position: fixed;
  top: 70px;
  left: 50%;
  padding: 80px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  min-height: 200px;
  border-bottom: 5px solid orange;
  transform: translateX(-50%);
  border-radius: 0 0 100px 100px;
  background: #f3f2ee;
  transition: 0.5s;
  z-index: 99;
  visibility: hidden;
  opacity: 0.5;
}

#menu {
  font-family: AcidGreen;
  list-style: none;
  text-align: center;
  font-size: 3rem;
  color: darkblue;
  padding: 10px;
}

.Onglet:hover {
  text-shadow: 1px -2px 12px orange;
  cursor: pointer;
}

#newsContainer {
  min-height: 620px;
  width: 100%;
  border-bottom: 5px solid darkblue;
  background: orange;
}

#imgbox {
  transition: 0.5s;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-height: 700px;
  align-items: center;
}

#imgbox img {
  width: 100%;
  height: 600px;
  margin: 20px 20px 20px 20px;
  border: 5px solid darkblue;
  box-shadow: 0 0 9px 7px white;
}

#imgbox::-webkit-scrollbar {
  background: orange;
}
#Usclub2 {
  background: darkblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#UsClubTitle {
  font-family: AcidGreen;
  grid-column: 1/-1;
  box-shadow: 0 0 0 white;
  display: flex;
  background: darkblue;
  justify-content: space-around;
}
#UsClubTitle h2 {
  padding: 0;
  color: skyblue;
  width: 40%;
  font-size: 5rem;
  font-weight: 10;
  -webkit-text-stroke: 1px white;
  text-align: center;
  border-bottom: 2px solid white;
}

#Where {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

#Where h2 {
  width: 70%;
  font-family: AcidGreen;
  margin: 10px;
  color: #f3f2ee;
  font-size: 4rem;
  text-align: center;
  font-weight: 5;
}
#Where p {
  width: 70%;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f2ee;
  font-size: 1.7rem;
}

#imgBerneval {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 500px;
  margin: 40px 20px 40px 20px;
  width: 100%;
}
#imgBerneval img {
  height: 100%;
  width: 100%;
  border-radius: 250px;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}
