@font-face {
  font-family: AcidGreen;
  src: url(./ASSETS/police/AcidGreen-Poster.ttf);
}
@font-face {
  font-family: AvenirNext;
  src: url(./ASSETS/police/Avenir\ Next.ttf);
}

body {
  opacity: 0;
  transition: opacity 0.2s;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  height: 70px;
  background: darkblue;
}

#Home {
  position: fixed;
  top: 0px;
  left: 50%;
  height: 90px;
  width: 10vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  border-bottom: 3px solid darkblue;
  border-radius: 0 0 70px 70px;
  transition: top 1s ease;
  cursor: pointer;
  transform: translateX(-50%);
  z-index: 100;
}

#Home.inactive {
  top: -100px;
}

#Home img {
  pointer-events: none;
  height: 8vh;
  width: 8vh;
}

#Home:hover {
  box-shadow: 1px -2px 12px 1px darkblue;
}

main {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menuContainer {
  position: fixed;
  top: 0px;
  left: 50%;
  padding-bottom: 40px;
  display: flex;
  width: 20vh;
  justify-content: space-around;
  border-bottom: 5px solid orange;
  transform: translateX(-50%);
  border-radius: 0 0 100px 100px;
  background: #f3f2ee;
  transition: 0.5s;
  z-index: 98;
  visibility: hidden;
  opacity: 0.5;
}

#menu {
  display: flex;
  width: 18vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  font-family: AcidGreen;
  list-style: none;
  text-align: center;
  font-size: 2rem;
  gap: 10px;
  color: darkblue;
}

.Onglet:hover {
  text-shadow: 1px -2px 12px orange;
  cursor: pointer;
}

#imgbox {
  background: orange;
  transition: 0.5s;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  justify-items: center;
  border-bottom: 2px solid #f3f2ee;
  border-top: 2px solid #f3f2ee;
}

#imgbox img {
  width: 80%;
  max-height: 500px;
  border: 5px solid darkblue;
  box-shadow: 0 0 9px 7px white;
}

#imgbox::-webkit-scrollbar {
  background: orange;
}

#Usclub2 {
  width: 100%;
  background: darkblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

#UsClubTitle {
  font-family: AcidGreen;
  grid-column: 1/-1;
  box-shadow: 0 0 0 white;
  display: flex;
  background: darkblue;
  justify-content: space-around;
}

#UsClubTitle h2 {
  padding: 0;
  color: skyblue;
  width: 100%;
  font-size: 5rem;
  font-weight: 10;
  -webkit-text-stroke: 1px white;
  text-align: center;
  border-bottom: 2px solid white;
}

.Where {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.Where h2 {
  width: 80%;
  font-family: AcidGreen;
  color: #f3f2ee;
  font-size: 4rem;
  text-align: center;
  font-weight: 5;
}

.Where p {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f2ee;
  font-size: 1.2rem;
  text-align: justify;
}

.imgUsclub {
  grid-column: 1/3;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 50%;
  width: 100%;
}

.imgUsclub img {
  max-height: 550px;
  max-width: 90%;
  margin: 20px;
  border-radius: 250px;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

#imgEquipe {
  grid-column: 3/4;
}

#equipeTxt {
  grid-column: 1/3;
  grid-row: 3/4;
}
#imgShirt {
  grid-column: 1/2;
}
#imgShirt2 {
  grid-column: 2/3;
}
#HowseasideRun {
  grid-column: 1/2;
  grid-row: 5/6;
}
#imgTraining {
  grid-column: 2/4;
}
footer {
  transition: 0.3s;
  font-family: AvenirNext;
  color: darkblue;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  background: orange;
}
#contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 10px 10px 10px 20px;
  gap: 5px;
  max-height: 80%;
}

#contact h3 {
  grid-column: 1/-1;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
}

#contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  transition: 0.5s;
  color: darkblue;
}

#contact img {
  height: 5vh;
  width: 5vh;
}

#contact a:hover {
  transform: scale(1.4);
}

#Follow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 10px 20px 10px 10px;
  max-height: 80%;
}

#Follow h3 {
  font-size: 1.2rem;
  grid-column: 1/-1;
  text-align: center;
}

#Follow a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#Follow img {
  height: 5vh;
  width: 5vh;
}

#Follow a:hover {
  transform: scale(1.4);
}

.hidden {
  transition: 1.5s;
  opacity: 0;
}

.show {
  opacity: 1;
}

body {
  background: darkblue;
}
.calendar {
  width: 60%;
  height: 80%;
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
  border-radius: 8%;
  padding: 0 3% 0 3%;
  background: rgb(22, 44, 243);
}

#monthName {
  font-family: AcidGreen;
  text-align: center;
  font-size: 3rem;
  width: 80;
  color: #f3f2ee;
}

#monthName h2 {
  margin-top: 20px;
  text-shadow: 0 0 0 orange;
}

.days {
  font-family: AvenirNext;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f3f2ee;
  font-size: 1rem;
}

.dayNumber {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.empty,
.Number {
  display: flex;
  flex-direction: column;
  font-family: AvenirNext;
  text-align: center;
  color: #f3f2ee;
  font-size: 1.3rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  justify-content: start;
  transition: 0.5s;
}
.empty,
.Number img {
  width: 50%;
  height: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}

.Number img:hover {
  transform: scale(1.2);
}

.currentDay {
  position: relative;
  font-weight: bold;
  z-index: 1;
  color: orange;
  font-size: 1.5rem;
  border-top: 2px solid orange;
  border-radius: 10%;
  padding: 3%;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  background: orange;
  padding: 5%;
  transform: translate(-50%, -50%);
  transition: 1s;
  border-radius: 25% 5% 25% 5%;
  z-index: -2;
  box-shadow: 0 0 14px 7px #f3f2ee;
}

#modalContent {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  font-family: AvenirNext;
}
#modalContent h2 {
  font-family: AcidGreen;
  font-size: 3rem;
  color: darkblue;
}
#modalContent p {
  margin: 0;
  padding: 5%;
  border-left: 1px solid darkblue;
  font-weight: 300;
  white-space: pre-line;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

#modalContent a {
  text-decoration: none;
  font-family: AvenirNext;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
}

#modalContent a:active {
  color: white;
}

#modalContent a:hover {
  color: white;
}

#modalContent img {
  align-items: center;
  grid-column: 1/-1;
  width: 90%;
  margin: 5%;
  height: auto;

  border-radius: 25% 25% 25% 25%;
  box-shadow: 0 0 14px 6px darkblue;
}

#modalButton {
  position: absolute;
  right: 2%;
  top: 2%;
  background: darkblue;
  color: white;
  border-radius: 25%;
  padding: 1%;
  cursor: pointer;
}

#modalButton:hover {
  box-shadow: 0px 0px 14px 9px white;
}
.training {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  text-align: center;
  color: #f3f2ee;
  justify-items: center;
}
.training h2 {
  text-shadow: 1px -1px 0px white;
  font-family: AcidGreen;
  font-size: 2.5rem;
  color: skyblue;
}
.training h1 {
  border-bottom: 2px solid orange;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1/-1;
  font-family: AcidGreen;
  color: #f3f2ee;
  font-size: 3rem;
}
.training p {
  font-family: AvenirNext;
  font-size: 1.1rem;
  font-weight: 100;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}
.Seances {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blablarun {
  grid-row: 2/4;
  grid-column: 2/3;
}
.imgSeance {
  width: 50%;
  margin: 5%;
  border-radius: 70%;
  border: 2px solid orange;
  box-shadow: 0 0 14px 7px #f3f2ee;
}
#imgBlablarun {
  grid-row: 2/4;
}

#imgSortieLongue {
  grid-column: 1/2;
  grid-row: 5/6;
}
#imgGroupeMarche {
  width: 90%;
}
#imgEvenement {
  grid-column: 1/2;
  grid-row: 7/8;
}
@media (max-width: 1000px) {
  #menu {
    font-size: 2rem;
  }

  #imgbox img {
    width: 90%;
    max-width: none;
    max-height: 300px;
  }

  #Usclub2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .Where p {
    text-align: justify;
  }
  #contact h3 {
    font-size: 1rem;
  }

  #Follow h3 {
    font-size: 1rem;
  }
  .calendar {
    width: 90%;
    height: 80%;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    border-radius: 8%;
    margin: 0 0 5% 0;
    padding: 0 3% 0 3%;
  }
  .days {
    font-size: 0.7rem;
  }
  .modalContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    background: orange;
    padding: 3%;
    transform: translate(-50%, -50%);
    transition: 1s;
    border-radius: 15% 5% 15% 5%;
    z-index: -2;
    box-shadow: 0 0 14px 7px #f3f2ee;
  }
  #modalContent {
    display: block;
    border: none;
    text-align: center;
  }
  #modalContent h2 {
    margin-top: 20px;
    font-size: 2.5rem;
  }

  #modalContent img {
    align-items: center;
    grid-column: 1/-1;
    width: 90%;
    height: 90%;
    border-radius: 15%;
    box-shadow: 0 0 14px 6px darkblue;
  }
  .training {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #f3f2ee;
    justify-items: center;
  }
  .training h1 {
    border-bottom: 2px solid orange;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/-1;
    font-family: AcidGreen;
    color: #f3f2ee;
    font-size: 2.5rem;
  }
  .training p {
    font-family: AvenirNext;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: justify;
    margin: 20px;
  }
  .training h2 {
    margin: 10px;
    font-family: AcidGreen;
    font-size: 2rem;
  }
}
